.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  margin: 35px 0 0;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 20px 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__title {
  font-size: 0.9rem;
}
.footer__title-color {
  color: #A8A8A8;
}
.footer__copy {
  font-size: 0.7rem;
}