.header {
  background: white;
  position: fixed;
  top: -50px;
  font-size: 1rem;
  width: 100%;
  z-index: 99;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}
.header__title {
  color: black;
  font-size: 1rem;
}
.header__title-color {
  color: #A8A8A8;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  display: none;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header__social__a {
  background: #777;
  border-radius: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
}

@media (min-width: 760px) {
  .header {
    top: -65px;
  }
  .header__row {
    height: 65px;
  }
  .header__title {
    font-size: 1.3rem;
  }
  .header__social {
    display: none;
  }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .header__li__a {
    color: #000;
    font-size: 1.25em;
  }
  .header__li__a.active {
    color: #A8A8A8;
  }
}