.mod-programa {
  padding: 30px 0;
}

.mod-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 37px;
  gap: 50px;
}
.mod-steps__box {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}
.mod-steps__box:before {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  background: white;
  width: 65px;
}
.mod-steps__box:after {
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  left: 65px;
  top: -1px;
  background: black;
  width: 35px;
}
.mod-steps__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
}
.mod-steps__svg {
  margin-right: 10px;
  margin-left: auto;
}
.mod-steps__numb {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  text-indent: 10px;
  font-size: 1.3rem;
}
.mod-steps__title {
  max-width: 100px;
  font-size: 1.3rem;
}
.mod-steps__content {
  line-height: 1.7rem;
  margin: 23px 0 0;
}
.mod-steps__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 182px;
  height: 37px;
  max-width: 182px;
  height: 37px;
  background: white;
  color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 125px;
  gap: 4px;
  margin: 51px 0 0;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  border: 1px solid white;
}
.mod-steps__cta__arrow {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
}
.mod-steps__cta:hover {
  background: black;
  color: white;
}
.mod-steps__cta:hover .mod-steps__cta__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}