html,
body {
  height: 100%;
}

.row {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
  position: relative;
  width: 100%;
}

[data-lazyload] {
  opacity: 0;
}

.ui-link {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: #A8A8A8;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
.ui-link__arrow {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: inline-block;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
.ui-link:hover {
  color: white;
}
.ui-link:hover .ui-link__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.mod-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.mod-header__label {
  font-size: 0.95rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.mod-header__title {
  font-size: 1.9rem;
}

.button {
  padding: 12px 30px 10px;
  background: #A8A8A8;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font: bold 12px/12px "SuisseIntl", sans-serif;
  letter-spacing: 3px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin: 0 auto;
}
.button--secondary {
  background: #000;
}

@media (min-width: 768px) {
  .mod-header__title {
    font-size: 2.3rem;
  }
  .mod-header__block {
    display: block;
  }
  .ui-link {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}